body {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.print {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 11, 11);
}